@{ 
    Layout = "_Layout";
}
    <div class="jumbotron">
        <h4 class="display-4">Alterações Confirmadas</h4>
        <a class="btn btn-primary btn-lg" href="@ViewBag.Url" role="button">Voltar</a>
    </div>